<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.zane.homework"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            tools:replace="android:authorities"
            android:name="android.support.v4.content.FileProvider"
            android:authorities="provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                tools:replace="android:resource"
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".login.presenters.LoginRegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".clazzdetail.presenter.ClazzDetailActivityPresenter"
                  android:configChanges="orientation"
                  android:theme="@style/AppTheme2"/>
        <activity android:name=".clazzdetail.presenter.ClazzDetailPostHomeWorkActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".clazzdetail.presenter.ClazzDetailPostNoticeActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".homeworkdetail.presenters.HomeWorkDetailActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".otherinfo.presenters.OtherInfoActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".search.presenters.SearchClassActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".info.presenters.ChangeOtherInfoActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".info.presenters.ChangPasswordActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".MainActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".info.presenters.InfoActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".authorinfo.presenters.AuthorInfoActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".message.presenters.MessageActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".clazzdetail.presenter.WorkJudgePresenter"
                  android:configChanges="orientation"/>
        <service android:name=".service.UpLoadFileServicess"/>
        <service android:name=".service.PostHomeWorkService"/>
        <service android:name=".service.DownloadFileService"/>
        <service android:name=".service.UploadFileService"/>

    </application>

</manifest>